@import url('http://fonts.cdnfonts.com/css/sf-ui-display');

:root {
    --primary-color: #171414;
    --header-navbar-height: 60px;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    position: absolute;
    top: 0;
}

* {
    font-family: 'SF UI Display', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
}
.hr-space {
    margin:30px 0;
}